<table class="table table-bordered" style="margin: 20px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Url</th>
    <th scope="col">Image URL</th>
    <th scope="col">Price</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <th><%= product.id %></th>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= link_to "Product URL", product.url %></td>
      <td><%= image_tag(product.image_url, size: "50x50") unless product.image_url.nil? %></td>
      <td><%= product.price.to_f %></td>
       <td>
        <div class="btn-group">
          <%= link_to 'Edit' , edit_product_path(product), class: 'btn btn-outline-success btn-sm' %>
          <%= link_to 'Show', product_path(product), class: 'btn btn-outline-primary btn-sm', style: "margin: 1px 10px 1px 10px;" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
