<table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Url</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
    <th scope="col">Image</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <th class="col-1"><%= product.id %></th>
      <th class="col-2"><%= product.name %></th>
      <td class="col-1"><%= link_to "Product page", product.url %></td>
      <td class="col-1"><%="#{product.price} EGP"%></td>
      <td class="col-2">
        <details>
          <summary style="background-color: #202429; border-radius: 6px; padding: 6px;">Full description</summary>
          <br>
          <p><%= product.description %></p>
        </details>
      </td>
      <td class="col-2">
        <% unless product.image_url.nil? %>
          <% image_urls = product.image_url.split(',') %>
          <% first_image_url = image_urls.first.strip %>
          <%= image_tag(first_image_url, class: "rounded", style: " width: 100%; height: 180px; object-fit: cover;", loading: "lazy") %>
        <% end %>
      </td>
       <td class="col-1">
          <div class="btn-group">
            <a href=<%= edit_product_path(product) %> style="text-decoration:none; margin: 1px 10px 1px 10px;">
              <input class="btn btn-outline-success" type="button" value="Edit">
            </a>

            <a href=<%= product_path(product) %> style="text-decoration:none;">
              <input class="btn btn-outline-primary" type="button" value="Show">
            </a>

          </div>
      </td>
    </tr>
  <% end %>
</table>
